@import "_reset";

.header_sub{
	background-color: #dbdbdb;
}

.gnb_right{
	display: none;
}


body{
	height: 100vh;
	overflow: hidden;
	main{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		.loginSec1{
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			margin: 8% 0;
		
				.loginTitle{
					font-size: 2.25rem;
					margin-bottom: 10%;
				}
				.Bttns{
					.kLoginBttn{
						padding: 15px 0;
						margin-bottom: 10px;
						background-color: #ffeb00;
						font-size: 1.55rem;
						border-radius: 10px;
						height: 54.58px;
						width: 350px;
						#kakao-login-btn{
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							height: 100%;
							p{
								font-weight: bold;
								margin-left: 15%;
							}
							img{
								width: 10%;
							}
						}
					}
				
					.gLoginBttn{
						padding: 15px 0;
						background-color: rgb(255, 255, 255);
						border: 1px solid #333333;
						font-size: 1.55rem;
						border-radius: 10px;
						height: 54.58px;
						width: 350px;
						#GgCustomLogin{
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							height: 100%;
							p{
								font-weight: bold;
								margin-left: 15%;
							}
							img{
								width: 10%;
							}
						}
					}
	
				}
		
			
		}
		.btwLine{
			width: 700px;
			border: 1px solid rgba(0, 0, 0, 0.349);
		}
		.loginSec2{
			text-align: center;
			margin: 3% 0;
			p{
				&:nth-of-type(1){
					font-size: 2rem;
					margin-bottom: 5%;
				}
				&:nth-of-type(2){
					font-size: 1.2rem;
					margin-bottom: 3%;
					line-height: 2;
				}
				b{
					color: orange;
				}
			}
		}
		}
	}
